*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.page-header {
border-bottom: 1px solid #e7e9fc;
background: #fff;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container{
display: flex;
align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
  
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-part-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-list {
 display: flex;
 align-items: center;
 gap: 40px;
}

.nav-title {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.nav-title:focus,
.nav-title:hover {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* ------main------ */

.section-solutions {
  background: #2e2f42;
}

.section-solution-title {
  font-size: 56px;
  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.btn-service {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}
.btn-service:hover,
.btn-service:focus {
  background: #404bbf;
}

.visually-hidden {
  position: absolute;
  width
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.features-section {
  margin-top: 120px;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background: #f4f4fd;
}

.team-title {
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-cards {
  background: #fff;
}

.team-cards-subtitles {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-cards-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-title {
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.project-cards {
  background: #fff;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------Footer------ */

.footer {
  background: #2e2f42;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo-footer-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
